body{
    font-family:'Roboto', 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat";
text-transform: capitalize;
}

h1 {
    font-weight: bold;
    background-color: #FD7979;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px;
}

h2 {
    font-weight: normal;
    font-variant: small-caps;
    background-color: hsl(4, 100%, 90%);
    text-align: right;
}

h3 {
    font-weight: 100;
}

p {
  background-color: rgba(253, 248, 172, 0.2);
  text-align: justify;
  line-height: 1.6;
}

mark {
    background-color: #FEEAC9;
}

blockquote {
        opacity: 0.7;
        font-style: italic;
        text-align: left;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(126, 13, 13);
}

a:hover{
    text-decoration: overline;
    color: red;
}

section p:first-of-type {
    text-indent: 40px;
}